{% extends 'studygroups/base.html' %}
{% block title %}Manage St%udy Groups{% endblock %}


{% block body %}
<div class="container">
        <div class="row">
                <div class="login-main-image">
                        <div class="login-wrapper fadeInUp">
				{% if active_groups %}
				{% for group in active_groups %}
				<div><a href="{% url 'manage' group.pk %}">{{group.name}}</a></div>
				{% endfor %}
				<br/>
				<div><a href="{% url 'add' %}"><button class="btn btn-primary">Start another Study Group!</button></a></div>	
				{% else %}
				<br/>
				<h2>No Study Groups to Manage</h2>
				<div><a href="{% url 'add' %}"><button class="btn btn-primary">Start a Study Group Now!</button></a></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
	
