{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Start a Study Group{% endblock %}

{% block scripts %}
<script src="{% static "js/ajax.js" %}"></script>
<script>
	$(function() {
		{% if studygroup %}
		$('#name').val("{{studygroup.name}}");
		$('#course').val("{{studygroup.course_code}}");
		$("#locations").val("{{studygroup.location.name}}")[0];
		$('select').change();
		$('#description').val("{{studygroup.description}}");
		var start_date = "{{studygroup.start_time.date|date:"SHORT_DATE_FORMAT"}}";
		start_date = start_date.substring(6) + "/" + start_date.substring(0,5);
		start_date = start_date.replace('/','-');
		start_date = start_date.replace('/','-');
		$('#startdate').val(start_date);
		var start_time = "{{ studygroup.start_time.time|time:"H:i"}}";
		$('#starttime').val(start_time);
		var end_date = "{{studygroup.end_time.date|date:"SHORT_DATE_FORMAT"}}";
		end_date = end_date.substring(6) + "/" + end_date.substring(0,5);
		end_date = end_date.replace('/','-');
		end_date = end_date.replace('/','-');
		$('#enddate').val(end_date);
		var end_time = "{{ studygroup.end_time.time|time:"H:i"}}";
		$('#endtime').val(end_time);
		{% endif %}	
	});
	$(document).ready(function(){
		$('.add-address-field').hide();
		$('#locations').change(function () {
	    	if ($(this).val() == 'Other Location') {
	        	$('.add-address-field').show();
	    	} else {
	        	$('.add-address-field').hide();
	    	}
		});
		/*$('#now').prop('checked') {
			$('#startdate').prop('disabled', true);
			$('#starttime').prop('disabled'true);
		} */ 
	});
	function validateAdd() {
    var name = document.forms["add"]["name"];
    var course = document.forms["add"]["course"];
    var regex = /^[A-Z]{3,4}\s\d{2,4}[A-Z]{0,1}$/i;
    var location = document.forms["add"]["location"];
    if (name.value == null || name.value == "") {
        document.getElementById("errors").innerHTML = "Please enter study group name!";
        return false;
    } else if (course.value == null || course.value == "" || course.value.search(regex) == -1) {
        document.getElementById("errors").innerHTML = "Please enter a valid class or course name!";
        return false;
    } else if (location.value == null || location.value == "") {
        document.getElementById("errors").innerHTML = "Please select a location";
        return false;
    }
}
</script>
{% endblock %}

{% block body %}
    <div class="container">
            <div class="login-main-image">
                <div class="login-wrapper fadeInUp">
                    <div class="text1"></div>
                        <form name="add" id="add" class="form-horizontal" method="post" onsubmit="return validateAdd()" action="{% if studygroup %}{% url 'submit_edit' studygroup.pk %}{% else %}{% url 'submit_add' %}{% endif %}">
				{% csrf_token %}
				<div class="row">
                        	<legend>{% if studygroup %}Edit Study Group{% else %}Add Study Group{% endif %}</legend>
				<div class="col-md-4 center-block" style="float: none;">
					<label class="control-label" for="name">Name</label>
					<input id="name" name="name" class="form-control" type="text" placeholder="Name your Study Group! (max 20 chars)">
                        	<div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="classes">Class</label>  
                                        <input id="course" list="classes" name="course" placeholder="class" class="form-control input-md">
                                        <datalist id="classes">
                                        </datalist>
                                </div>
			</div>
			<div class="row">
                        <div class="col-md-4 center-block" style="float: none;">
                        	<label class="control-label" for="location">Location</label>  
                                <select id="locations" name="location" placeholder="Select a Location!" class="form-control input-md">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 center-block add-address-field" style="float: none;">
				<br/>
					<p>Please enter a name for the location along with an address</p>
					{% csrf_token %}
					<label for="location_name" class="control-label">Name</label>
					<input id="location_name" name="new_location_name" class="form-control">
					<label for="location_address" class="control-label">Address</label>
					<input id="location_address" name="new_location_address" class="form-control" type="text">
                             	    	<button type="button" id="newlocation" class="btn btn-primary">Add Location</button>
				</div>
			</div>
			<div class="row">
                                <div class="center-block col-md-4" style="float: none;">
                                    <label class="control-label" for="Description">Description</label>
                                                        
                                    <textarea rows="4" class="form-control" id="description" name="description" placeholder="Description (Describe any details about the study group, example: Bring your laptop and we will be in room 300 in the back corner...)"></textarea>
                               </div>
                        </div>
			{% if not studygroup %}
			<div class="row">
				<p class="col-md-12"><input type="checkbox" id="now" name="now">Start now! (grey the start fields out if checked)</p>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-4 center-block" style="float: none;">
					<label class="control-label" for="startdate">Start Date</label>
					<input id="startdate" type="date" name="startdate" class="form-control input-md">
				</div>
			</div>
			<div class="row">
                                <div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="starttime">Start time</label>
                                	<input id="starttime" type="time" name="starttime" class="form-control input-md">
                      		</div>
			</div>
			<div class="row">
				<div class="col-md-4 center-block" style="float: none;">
					<label class="control-label" for="enddate">End Date</label>
					<input id="enddate" type="date" name="enddate" class="form-control input-md">
				</div>
			</div>
			<div class="row">
                                <div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="endtime">End time</label>
                                	<input id="endtime" type="time" name="endtime" class="form-control input-md">
                      		</div>
			</div>
			<div class="row">
				<div class="col-4 center-block" style="float: none;">
                                	<button type="submit" name="add" value="add" class="btn btn-info" style="margin:20px 0px 20px 0px;">{% if studygroup %}Edit Study Group{% else %}Add Study Group{% endif %}</button>
				</div>
			</div>
			</form>
			<div id="errors" class="text-center"></div>
                        {% if form.errors %}
                        <p>Fields not properly filled out. Please try again.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
