{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Start a Study Group{% endblock %}

{% block scripts %}
<script src="{% static "js/ajax.js" %}"></script>
{% endblock %}



{% block body %}
    <div class="container">
            <div class="login-main-image">
                <div class="login-wrapper fadeInUp">
                    <div class="text1"></div>
                        <form class="form-horizontal" method="post" action="{% url 'submit_add_edit' %}">
				{% csrf_token %}
				<div class="row">
                        	<legend>{% if active_studygroup %}Edit Study Group{% else %}Add Study Group{% endif %}</legend>
                        	<div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="classes">Class</label>  
                                        <input list="classes" name="course" placeholder="class" class="form-control input-md">
                                        <datalist id="classes">
                                        </datalist>
                                </div>
			</div>
			<div class="row">
                                <div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="location">Location</label>  
                                        <select id="locations" name="location" placeholder="Select a Location!" class="form-control input-md">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 center-block" style="float: none;">
					<h3> Add a Location (only show this when selecting 'other location'</h3>
					{% csrf_token %}
					<label for="location_name" class="control-label">Name</label>
					<input id="location_name" name="new_location_name" class="form-control">
					<label for="location_address" class="control-label">Address</label>
					<input id="location_address" name="new_location_address" class="form-control" type="text">
                             	    	<button type="button" id="newlocation" class="btn btn-primary">Add Location</button>
				</div>
			</div>
			<div class="row">
                                <div class="center-block col-md-4" style="float: none;">
                                    <label class="control-label" for="Description">Description</label>
                                                        
                                    <textarea rows="4" class="form-control" id="description" name="description" placeholder="Description (Describe any details about the study group, example: Bring your laptop and we will be in room 300 in the back corner...)"></textarea>
                               </div>
                        </div>
			<div class="row">
				<div class="col-md-4 center-block" style="float: none;">
					<label class="control-label" for="enddate">End Date</label>
					<input id="enddate" type="date" name="enddate" class="form-control input-md">
				</div>
			</div>
			<div class="row">
                                <div class="col-md-4 center-block" style="float: none;">
                                	<label class="control-label" for="endtime">End time</label>
                                	<input type="time" name="endtime" class="form-control input-md">
                      		</div>
			</div>
			<div class="row">
				<div class="col-4 center-block" style="float: none;">
                                	<button type="submit" name="add" value="add" class="btn btn-info" style="margin:20px 0px 20px 0px;">{% if active_studygroup %}Edit Study Group{% else %}Add Study Group{% endif %}</button>
				</div>
			</div>
			</form>
                        {% if form.errors %}
                        <p>Fields not properly filled out. Please try again.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
