{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Find a Study Group{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYxOP1Eb_CAGqLl2XrZBpADTaeV40MuBA" type="text/javascript"></script>
<script src="{% static "js/ajax.js" %}"></script>
<script src="{% static "js/studygroups.js" %}"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#search_courses").click(function(){
            var course = document.getElementById("search");
            var regex = /^[A-Z]{3,4}\s\d{2,4}[A-Z]{0,1}$/i;
            if (course.value == null || course.value == "" || course.value.search(regex) == -1){
                $(".grey-box").hide();
                $("#errors").show();
                document.getElementById("errors").innerHTML = "Invalid class or course name!";
            } else {
                $('.grey-box').show();
                document.getElementById("errors").innerHTML = "";
                $("#errors").hide();
            }
        });
    });
</script>

    <div class="container">
        <div class="row">
            <div class="white-box"></div>
            <div class="col-md-8 split-display">
                <div>
                    <div>
                        <ul class="searchbar">
                            <li><input id="search" list="classes" name="searchclass" placeholder="Search classes" class="form-control input-md search-input"></li>
                            <li><button id="search_courses" type="submit" name="search" value="search" class="btn btn-info">Search</button></li>
                                    <li><datalist id="classes">
                                    </datalist></li>
                        </ul>
                    </div>
                </div>
                <div id="errors"></div>
                <div id="googleMap"></div>
            </div>
            <div class="col-md-4 split-display">
                {% csrf_token %}
                <div id="results" class="grey-box">
            </div>
        </div>
    </div>

{% endblock %}
