{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Find a Study Group{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYxOP1Eb_CAGqLl2XrZBpADTaeV40MuBA" type="text/javascript"></script>
<script src="{% static "js/ajax.js" %}"></script>
<script src="{% static "js/studygroups.js" %}"></script>
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="white-box"></div>
            <div class="col-md-8 split-display">
                <div>
                    <div class="col-md-4">
                        <ul class="searchbar">
                            <li><input id="search" list="classes" name="searchclass" placeholder="Search classes" class="form-control input-md search-input"></li>
                            <li><button id="search_courses" type="submit" name="search" value="search" class="btn btn-info">Search</button></li>
                                    <li><datalist id="classes">
                                    </datalist></li>
                        </ul>
                    </div>
                </div>
                    <div id="googleMap"></div>
            </div>
            <div class="col-md-4 split-display">
		{% csrf_token %}
		<div id="results" class="grey-box">
            </div>
        </div>
    </div>


<!--<h3>Search</h3>
<input type="text" id="search" name="search" />

<ul id="search-results"></ul>	-->


{% endblock %}
