{% extends 'studygroups/base.html' %}
{% block title %}Manage Study Groups{% endblock %}
    


{% block body %}
<div class="container">
       	<div class="row">
           	<div class="login-main-image">
                	<div class="login-wrapper fadeInUp">
                    		<div class="text1"></div>
				{% if studygroup %}
				<ul>
					<li>Make this pretty!!!</li>
					<li>studygroup.course_code</li>
					<li>studygroup.location</li>
					<li>studygroup.location_desc</li>
					<li>studygroup.end_date</li>
				</ul>
				<a href={% url 'add_or_edit' %}><button class="btn btn-primary">Edit Study Group</button></a>
				<a href={% url 'delete' %}<button class="btn btn-primary">End Study Group</button></a>
				{% else %}
				<h2>No Study Groups to Manage</h2>
				<a href={% url 'add_or_edit' %}><button class="btn btn-primary">Start a Study Group Now!</button></a>
				{% endif %}
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
