{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block body %}
<div class="col-xs-12" style="height:70px;"></div>
<div class="container">
      <div class="col-md-8 col-md-offset-2">
      <div class="row">
      
	<div class="col-md-4 col-md-offset-1">
    {% if this_profile.profile_pic %} 
          <img src="{{this_profile.profile_pic.url}}" 
            alt="profile pic" style="max-width:225px;max-height:270px;"/>
            {% else %}
            <img src="{% static 'image_not_available.jpg' %}" 
            alt="profile pic" style="max-width:225px;max-height:270px;"/>
            {% endif %}
	</div>
        <div class="col-md-4">
          <div style="font-size:15pt;padding-top:10px;margin-bottom:20px;margin-left:20px;">
            <img src="http://metro.kingcounty.gov/up/spclevent/huskies/images/uw_logo.png"
                alt="pc1" style="width:42px;height:29px;"/> {{ this_profile.user.username }}
          </div>
          <div>
            <strong>Name: </strong>
            {{ this_profile.first_name }}{% if this_profile.last_name %} {{ this_profile.last_name }}{% endif %}
          </div>
          <div>
            <strong>Email: </strong>
            {{ this_profile.email_public }}
          </div>
          <div>
            <strong>Phone: </strong>
            {{ this_profile.phone_number }}
          </div>
          <div>
            <strong>Facebook: </strong>
            {{ this_profile.facebook_link }}
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-bottom:30px;"></div>
        <div class="col-md-12">
          <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
            About
          </div>
          <hr style="margin-bottom:10px;margin-top:10px;"/>
          <div style="text-muted;margin-bottom:15px;">
          {{ this_profile.bio }}
          </div>
          <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
            Academic Information
          </div>
          <hr style="margin-bottom:10px;margin-top:10px;"/>

          <div class="row">
            <div class="col-md-6">
              <div>
                <strong>Current/Intended Major: </strong>
                {{ this_profile.major }}
              </div>
              <div>
                <strong>Current/Intended Minor: </strong>
                {{ this_profile.minor }}
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <strong>Year: </strong>
                {{ this_profile.year }}
              </div>
            </div>
          </div>
      <div style="margin-bottom:20px;"></div>
      <div style="margin-bottom:20px;"></div>
        <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
          Ideal study group
        </div>
        <hr style="margin-bottom:10px;margin-top:10px;"/>
        <div style="text-muted;margin-bottom:15px;">
        {{ this_profile.ideal_study_group }}
        </div>
      </div>
      </div> 
	 {% if is_this_user %}
	<a href="{% url 'edit_profile' %}"><button class="btn btn-primary center-block">Edit</button></a>
	 {% endif %}
    </div> <!-- close container-->
{% endblock %}
