{% extends 'studygroups/base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}


{% block body %}
<h1>{{ this_profile.user.username }}<h1>
{% if this_profile.profile_pic %}
<p><img src={{this_profile.profile_pic.url}} alt="profile pic"/></p>
{% endif %}
{% if this_profile.user.first_name %}
<p>Name: {{ this_profile.user.first_name }}{% if this_profile.user.last_name %} {{ this_profile.user.last_name }}{% endif %}{% endif %}</p>
{% if this_profile.email_public %}
<p>Email: {{ this_profile.email_public }}</p>
{% endif %}
{% if this_profile.facebook_link %}
<p>Facebook: {{ this_profile.facebook_link }}</p>
{% endif %}
{% if this_profile.phone_number %}
<p>Phone Number: {{ this_profile.phone_number }}</p>
{% endif %}
{% if this_profile.bio %}
<p>Bio: {{ this_profile.bio }}</p>
{% endif %}

{% endblock %}
