{% extends 'studygroups/base.html' %}
{% block title %}Find a Study Group{% endblock %}

{% block nav %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endblock %}

{% block body %}
<div class="col-xs-12" style="height:70px;"></div>
<div class="container">
      <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <img src="http://students.washington.edu/xulizhou/info_capstone/final_version/images/profile/u282.jpg" 
            alt="pc1" style="width:225px;height:270px;"/>
        </div>
        <div class="col-md-4">
          <div style="font-size:15pt;padding-top:10px;margin-bottom:20px;">
            <img src="http://metro.kingcounty.gov/up/spclevent/huskies/images/uw_logo.png"
                alt="pc1" style="width:42px;height:29px;"/> username
          </div>

          <div class="row">
            <div>
              <strong>Email: </strong>
              Email address here
            </div>
          </div>
          <div class="row">
            <div>
              <strong>Phone: </strong>
              555-555-5555
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-bottom:30px;"></div>
        <div class="col-md-12">
          <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
            About
          </div>
          <hr style="margin-bottom:10px;margin-top:10px;"/>
          <div style="text-muted;margin-bottom:15px;">
            I am currently a senior at the University of Washington in the informatics program.
            As a student I have struggled throughout my academic career.
            I never graduated from high school or received a GED. When I originally
            attended college I screwed up big time. Many years later, with determination and
            hard work I was able to get my academic plan on track. I plan graduating this year
            with plans to work in the IT field. I am a looking to mentor troubled students or
            students who are struggling academically. I am not available during weekdays but 
            I am usually available during weekends.  
          </div>

          <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
            Academic Information
          </div>
          <hr style="margin-bottom:10px;margin-top:10px;"/>

          <div class="row">
            <div class="col-md-6">
              <div>
                <strong>Area of study: </strong>
                  Computers
              </div>
              <div>
                <strong>Current/Intended Major: </strong>
                Informatics
              </div>
              <div>
                <strong>Current/Intended Minor: </strong>
                None
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <strong>Year: </strong>
                Senior
              </div>
              <div>
                <strong>Location: </strong>
                Seattle
              </div>
              <div>
                <strong>Skills: </strong>
                HTML, CSS, Javascript, PHP
              </div>
            </div>
          </div>
        <div style="margin-bottom:20px;"></div>

      <div style="margin-bottom:20px;"></div>
        <div style="font-size:15pt;padding-top:5px;margin-bottom:5px;">
          Ideal study group
        </div>
        <hr style="margin-bottom:10px;margin-top:10px;"/>
        <div style="text-muted;margin-bottom:15px;">
          I am looking to study up with some really lazy people who play games and don't do any homework. HAHAHAHAHA!!!
        </div>
      </div>
      </div> 
    </div> <!-- close container-->
{% endblock %}
