{% extends 'studygroups/base.html' %}
{% block title %}Find a Study Group{% endblock %}

{% block nav %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endblock %}

{% block body %}
<script type="text/javascript">
function validateSignup() {
    var username = document.forms["signup"]["username"];
    var email = document.forms["signup"]["email"];
    var regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
    var password = document.forms["signup"]["password"];
    var confirmpassword = document.forms["signup"]["confirmpassword"];
    if (username.value == null || username.value == "") {
        document.getElementById("errors").innerHTML = "Please enter a username!";
        return false;
    } else if (email.value.search(regex) == -1) {
        document.getElementById("errors").innerHTML = "Please enter a valid email address!";
        return false;
    } else if (password.value == null || password.value == "") {
         document.getElementById("errors").innerHTML = "Please enter a password!";
        return false;
    } else if (confirmpassword.value == null || confirmpassword.value == "") {
        document.getElementById("errors").innerHTML = "Please confirm your password!";
        return false;
    } else if (password.value != confirmpassword.value) {
         document.getElementById("errors").innerHTML = "Passwords do not match try again!";
        return false;
    }
}
</script>
<div class="container">
        <div class="row">
            <div class="login-main-image">
                <div class="login-wrapper fadeInUp">
                    <div class="text1"></div>
                        <form name="signup" id="signup" class="form-horizontal" method="post" onsubmit="return validateSignup()" enctype="multipart/form-data">
				{% csrf_token %}
				<legend>Sign Up</legend>
				{% for field in form %}
				<div class="form-group">
				    <label class="col-md-4 control-label">{{ field.label_tag }}</label>
				    <div class="col-md-4">
					   {{ field }}
				    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-danger small"> {{field.errors }}</label>
                    </div>
				</div>
				{% endfor %}
<!--                            <div class="form-group">
                                    <label class="col-md-4 control-label" for="username">Username</label>  
                                    <div class="col-md-4">
                                        <input id="username" name="username" type="text" placeholder="name" class="form-control input-md">  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">Email Address</label>
                                    <div class="col-md-4">
                                        <input id="email" name="email" type="text" placeholder="email address" class="form-control input-md"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="password">Password</label>
                                    <div class="col-md-4">
                                        <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="confirmpassword">Confirm Password</label>
                                    <div class="col-md-4">
                                        <input id="confirmpassword" name="confirmpassword" type="password" placeholder="confirm password" class="form-control input-md">
                                    </div>
                                </div>
                                <button type="submit" name="signup" value="signup" class="btn btn-info" style="margin:20px 0px 20px 0px;">Sign up</button>
                        </form>
                        <div id="errors" class="text-center"></div>
                        {% if form.errors %}
                        <p>Fields not properly filled out. Please try again.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
