{% if studygroups.count > 0 %}
<!-- do what you want with the data -->
<script>
	var center = new google.maps.LatLng("{{studygroups.0.location.lat}}", "{{studygroups.0.location.lon}}");
	function initialize() {
		var mapProp = {
			center:center,
			zoom:15,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		function offset(coordinate) {
			return coordinate + (Math.random() -.5) / 10000;
		}

		{% for studygroup in studygroups %}
		var lat = {{studygroup.location.lat}};
		var lon = {{studygroup.location.lon}};
		var coordinates = new google.maps.LatLng(offset(lat), offset(lon));
		var marker=new google.maps.Marker({
			position:coordinates,
			map: map,
			title: "{{studygroup.location.name}}",
			icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld={{forloop.counter}}|FF0000|000000',
			url: "http://maps.google.com/maps?daddr=" + lat + "," + lon
		});
		google.maps.event.addListener(marker, 'click', function() {
			window.location.href = this.url
		});
		{% endfor %}
}
initialize();
$(document).ready(function(){
    $(".toggle-info").click(function(){
    	var SH = this.SH^=1; // "Simple toggler"
        $(this).children(".search-info").slideToggle();
        $(this).children(".toggle-show").html(SH?"Hide details":"Show details");
    });
});
</script>
<div style="padding-top:10px;">Search results</div>
{% for studygroup in studygroups %}
    <div>
        <hr/>
        <div><b>{{ forloop.counter }}.</b> {{studygroup.name}}</div>
        <div><b>Creator:</b><a href="{% url 'profile' studygroup.manager.username %}" target="_blank"> {{studygroup.manager.username}}</a></div>
        <div class="toggle-info">
            <div class="search-info">
            	<div><b>Email:</b><a href="mailto:{{studygroup.manager.email}}"> {{studygroup.manager.email}}</a></div>
            	<div><b>Course:</b> {{studygroup.course_code}}</div>
				<div><b>Location:</b> {{studygroup.location.name}}</div>
                <div><b>Address:</b> {{studygroup.location.address}}</div>
				<div><b>Description:</b> {{studygroup.description}}</div>
            </div>
            <div><b>Start time:</b> {{studygroup.start_time}}</div>
            <div><b>End time:</b> {{studygroup.end_time}}</div>
            <span class="toggle-show">Show details</span>
        </div>
    </div>
{% endfor %}


{% else %}
<hr>
<div> No active study groups for that class </div>

{% endif %}
