/* Style sheet rules */

/* search page */
#googleMap {
    margin-top: 40px;
}

.searchbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.searchbar li {
    display: inline;
}

.search-info {
    display:none;
}

.grey-box {
    background-color: #CCCCCC;
    text-align: center;
}

.white-box {
    text-align: center;
    height: 80px;
}

/* login page */
.login-main-image {
    height: 400px;
}

.login-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*width: 300px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-wrapper form button {
    margin: 20px 0px 20px 0px;
    padding-left: 20px;
    padding-right: 20px;
}


/* effects and animations */
.fadeInUp {
    -webkit-animation: fadeInUp 1s .2s ease both;
    -moz-animation: fadeInUp 1s .2s ease both
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

/* Mobile phone screen */
@media screen and (max-width: 767px) {
    #googleMap {
        width: 100%;
        height: 400px;
    }

    .grey-box {
        width: 100%;
    }
}

/* Tablet and larger phone screen*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    #googleMap {
        width: 600px;
        height: 600px;
    }

    .grey-box {
        width: 600px;
    }
}

/* Desktop screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #googleMap {
        width: 600px;
        height: 600px;
    }

    .grey-box {
        margin-top: 70px;
        width: 300px;
    }

    .search-input {
        width: 570px;
        float: left;
    }
}

/* Fully expanded or larger desktop screen */
@media screen and (min-width: 1200px) {
    #googleMap {
        width: 750px;
        height: 700px;
    }

    .search-input {
        width: 700px;
    }

    .grey-box {
        margin-top: 70px;
        width: 300px;
    }
}